body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin: 0px;
}
.main{
    background-color:   #4592af; 
    color:antiquewhite;
    height: 100vh;
}
.header{
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #33313b 
}
.divider{
    display: flex;
    width: 100vw;
    border: solid 1px #f6f5f5; 
}
.todayCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 8%;
    border: solid 2px #f6f5f5;
    border-radius: 3%;
    margin: 6%;
}
.cardLeft{
    display: flex;
    flex-direction: column;
}
.cardRight{
    display: flex;
    flex-direction: column;
}
.detailTxt{
    font-size: small;
}
.currentTemp{
    display: flex;
}
.snap{
    display: flex;
}
.fiveDay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px #f6f5f5; 
}
.forecastGrid{
    border: solid 1px #f6f5f5; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}